#######################################
## for an image pair
image1 = /media/hyj/dataset/datasets/slslam/it3f/left_rect/0120.jpg
image2 = /media/hyj/dataset/datasets/slslam/it3f/right_rect//0160.jpg

## for offline images

left_image_path = /media/hyj/dataset/datasets/slslam/it3f/left_rect/
right_image_path = /media/hyj/dataset/datasets/slslam/it3f/right_rect/


#######################################
#camera_para_path = C:\jizhao\project\SLAM_line\src\stereoParam_moveSense.yaml
camera_para_path = /media/hyj/dataset/datasets/slslam/it3f/stereoParam_slslam.yaml

#######################################
## image
isStereoPair = false
isNeedRectify = false
isROI = true
roiMinX = 29
roiMaxX = 609
roiMinY = 35
roiMaxY = 442

#######################################
# 0: LSD; 1: EDline; 2: lvl; 3: SLSLAM; 4: CannyLines (have problems)
lineMethod = 2
# not used now
minLength = 10
# 0: ORB; 1: SIFT
descriptorMethod = 0
# mismatch removal. 0: VFC (recommend); 1: LPM; others: none
matchMethod = 0
enableRansac = false

#######################################
## visualization
isShow = true
marginBetweenImgPair = 20
isHorizonal = true
showVectorField = true

#######################################
# 0: plucker; 1: stereo
reconMethod = 0
is_save_recon_rslt = false

#######################################
